**/localhost.session.sql
**/node_modules/
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.ts~
*.tsx~
.cache
.env
.env.test
.grunt
.lock-wscript
.next
.npm
.nyc_output
.node_repl_history
.pids
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vscode
.vscode-test
.yarn-integrity
.yarn/cache
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/unplugged
/bower_components
.build/Release
.dynamodb/
.dist/
.eslintcache
.fusebox/
.jspm_packages/
.lib-cov
.logs
.node_modules/
.nuxt
.pnp.*
.vuepress/dist